@import '../base/variables.scss';

.card {
    background: $primary-color;
    height: 130px;
    padding: 20px;
}


.product-summary-card {
    background: $primary-color;
    height: 130px;
    padding: 20px;
    text-align: center;
    padding-top: 34px;

    .product-title {
        color: white;
        margin: 0;
        font-size:12px;
    }

    .product-price {
        color: white;
        margin: 0;
        font-size: 26px;
        font-weight: bold;
    }
}


.employee-card {
    background: $primary-color;
    height: 130px;
    padding: 20px;
    text-align: left;

    .employee-title {
        color: white;
        margin: 0;
        font-size:12px;
    }

    .employee-name {
        color: white;
        margin: 0;
        font-size: 16px;
        font-weight: bold;
    }
}

.product-card {
    background: $primary-color;
    height: 130px;
    padding: 20px;
    text-align: left;
    height: 140px;

    p {
        color: white;
        margin: 0;
        font-size:12px;
    }
}
