@import '../base/mixins.scss';

.hero {
    @include makeBackground(
        linear-gradient(rgba(255,255,255,0.5),
        rgba(255,255,255, 0.9)),
        url('../img/hero.jpg')
    );

    background: #ddd;
    margin-bottom: 15px;
    text-align: center;
    height: 160px;
    padding-top: 40px;
}

.hero {
    font-weight: bold;
}

.hero-title {
    background: #ddd;
    margin-bottom: 15px;
    text-align: center;
    background: linear-gradient(
        rgba(255,255,255,0.5),
        rgba(255,255,255, 0.9) ),
        url('../img/hero.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    padding-top: 40px;
}

.hero-title h1 {
    font-weight: bold;
}